<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button id="gc-back" class="btn btn-outline-light me-3" title="Volver">
      ←
    </button>
    <a class="navbar-brand" href="index.html">Gaming Corner</a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#gcnav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="gcnav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="top_games.html">Top Games</a>
        </li>
        <li class="nav-item">
          <a id="gc-login-link" class="nav-link" href="login.html">Acceder</a>
        </li>
        <li class="nav-item d-none" id="gc-admin-tab">
          <a class="nav-link" href="admin.html">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
