version: '3.8'
services:
  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: gamehub
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"

  reviews:
    build: .
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: rootpass
      DB_NAME: gamehub
      JWT_SECRET: super_secreto_cambia_esto
    ports:
      - "4000:4000"
    depends_on:
      - db

volumes:
  dbdata:
